<h1>Turmas</h1>

<table>
  <thead>
    <tr>
      <th>Dia da Semana</th>
      <th>Horário</th>
      <th>Faixa Etária</th>
      <th>Modalidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @slots.each do |slot| %>
      <tr>
        <td><%= slot.day %></td>
        <td><%= slot.time %></td>
        <td><%= slot.age %></td>
        <td><%= slot.modality %></td>
        <td><%= link_to 'Show', slot %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New slot', new_slot_path %>
