<h1>Turma Detalhes</h1>

<p>
  <strong>Dia da Semana:</strong>
  <%= @slot.day %>
</p>

<p>
  <strong>Horário:</strong>
  <%= @slot.time %>
</p>

<p>
  <strong>Faixa Etária:</strong>
  <%= @slot.age %>
</p>

<p>
  <strong>Modalidade:</strong>
  <%= @slot.modality %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @slot.professor_titular.name %>
</p>

<p>
  <strong>Lista de Matriculados:</strong>
  <ul>
    <% @slot.clients.each do |client| %>
      <li><%= client.name %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Editar', edit_slot_path(@slot) %> |
<%= link_to 'Voltar', slots_path %>
  <%= button_to "Apagar Turma", @slot, method: :delete %>
