<h1>Detalhes do Dia <%= @calendar_day.date %></h1>

<p>Data: <%= @calendar_day.date %></p>
<p>Dia da Semana: <%= @calendar_day.date.strftime("%A") %></p>

<h2>Slots Alocados:</h2>
<ul>
  <% @calendar_day.slots.each do |slot| %>
    <li>
      Hora: <%= slot.time %> - Modalidade: <%= slot.modality %> - Faixa Etária: <%= slot.age %>
    </li>
  <% end %>
</ul>
