<%= form_with model: @aula, local: true do |form| %>
  <% if @aula.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aula.errors.count, "error") %> prohibited this aula from being saved:</h2>
      <ul>
        <% @aula.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <thead>
      <tr>
        <th>Data</th>
        <th>Conteúdo</th>
        <th>Objetivo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= form.text_area :data, value: @aula.data.present? ? @aula.data.strftime('%d/%m/%Y') : nil %></td>
        <td><%= form.text_area :conteudo %></td>
        <td><%= form.text_area :objetivo %></td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>Aquecimento</th>
        <th>Técnico</th>
        <th>Físico</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= form.fields_for :aquecimento do |aquecimento_fields| %>
            <strong>Articular:</strong> <%= aquecimento_fields.text_area :articular %><br>
            <strong>Cardio:</strong> <%= aquecimento_fields.text_area :cardio %><br>
            <strong>Técnico:</strong> <%= aquecimento_fields.text_area :tecnico %>
          <% end %>
        </td>
        <td><%= form.text_area :tecnico %></td>
        <td>
          <%= form.fields_for :fisico do |fisico_fields| %>
            <strong>Grupo:</strong> <%= fisico_fields.select :grupo, options_for_select([['MI', 'MI'], ['MS', 'MS'], ['TR', 'TR']]) %><br>
            <strong>Fase:</strong> <%= fisico_fields.select :fase, options_for_select([['Fase 1', '1'], ['Fase 2', '2'], ['Fase 3', '3'], ['Fase 4', '4']]) %><br>
            <strong>Exercício:</strong> <%= fisico_fields.text_area :exercicio %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
