<h1>Detalhes da Turma</h1>

<p>
  <strong>Dia da Semana:</strong>
  <%= @group.day %>
</p>

<p>
  <strong>Horário:</strong>
  <%= @group.time %>
</p>

<p>
  <strong>Faixa Etária:</strong>
  <%= @group.age %>
</p>

<p>
  <strong>Modalidade:</strong>
  <%= @group.modality %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @group.professor_titular.name %>
</p>

<h2>Alunos Matriculados:</h2>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Plano</th>
      <th>Data de Nascimento</th>
    </tr>
  </thead>
  <tbody>
    <% @group.clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.plan %></td>
        <td><%= client.birth_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Matricular Aluno</h2>
<%= form_with url: enroll_group_path(@group), method: :post do %>
  <div class="field">
    <%= label_tag :client_id, "Selecione um Aluno" %>
    <%= select_tag :client_id, options_from_collection_for_select(@available_clients, :id, :name) %>
  </div>
  <%= submit_tag "Matricular", class: "btn btn-primary" %>
<% end %>

<%= link_to 'Editar', edit_group_path(@group) %> |
<%= link_to 'Voltar', groups_path %>
<%= button_to "Apagar Turma", @group, method: :delete %>
