<h1>Turma Detalhes</h1>

<p>
  <strong>Dia da Semana:</strong>
  <%= @group.day %>
</p>

<p>
  <strong>Horário:</strong>
  <%= @group.time %>
</p>

<p>
  <strong>Faixa Etária:</strong>
  <%= @group.age %>
</p>

<p>
  <strong>Modalidade:</strong>
  <%= @group.modality %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @group.professor_titular.name %>
</p>

<h2>Clientes Matriculados:</h2>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Plano</th>
      <th>Data de Nascimento</th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.plan %></td>
        <td><%= client.birth_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Editar', edit_group_path(@group) %> |
<%= link_to 'Voltar', groups_path %>
  <%= button_to "Apagar Turma", @group, method: :delete %>
