<h1> Produto: </h1>

<%= form_with model: @product do |f| %>
  <%= f.label :name, "Nome" %>
  <%= f.text_field :name %>
  <%= f.label :description, "Descrição" %>
  <%= f.text_field :description %>
  <%= f.label :price_cents, "Preço em centavos" %>
  <%= f.text_field :price_cents %>
  <%= f.submit "Cadastrar" %>
<% end %>